body {
    font-family: 'Comfortaa', cursive;
}

h1,
h2 {
    text-align: center;
}

img {
    width: 100%;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgba(51, 51, 51, 0.199);
    padding: 1rem;
    margin: 1rem;
    width: 20%;
}

.header {
    font-weight: bold;
}